.formula__second-b {
    position: absolute;
    top: 28px;
    left: 94px;
    background-image: url('../../../images/b.svg');
    width: 17px;
    height: 32px;
    background-repeat: no-repeat;
}

.formula__second-b_show {
    animation: showSecondB 1s linear forwards;
}

@keyframes showSecondB {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(173px, 67px);
    }
}

.formula__second-b_show-reverse {
    animation: showSecondB-reverse 1s linear forwards;
}

@keyframes showSecondB-reverse {
    0% {
        opacity: 1;
        top: 95px;
        left: 267px;
    }
    100% {
        opacity: 0;
    }
}