.formula__xy-close-bracket {
    position: absolute;
    top: 25px;
    left: 252px;
    background-image: url('../../../images/close-bracket.svg');
    width: 11px;
    height: 45px;
    background-repeat: no-repeat;
}