.formula__arrow-bx {
    position: absolute;
    top: 5px;
    left: 100px;
    background-image: url('../../../images/arrow_bx.svg');
    width: 56px;
    height: 13px;
    background-repeat: no-repeat;
}