.formula__second-y {
    position: absolute;
    top: 39px;
    left: 228px;
    background-image: url('../../../images/y.svg');
    width: 22px;
    height: 30px;
    background-repeat: no-repeat;
}

.formula__second-y_show {
    animation: showSecondY 1s linear forwards;
}

@keyframes showSecondY {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-40px, 68px);
    }
}

.formula__second-y_show-reverse {
    animation: showSecondY-reverse 1s linear forwards;
}

@keyframes showSecondY-reverse {
    0% {
        opacity: 1;
        top: 107px;
        left: 188px;
    }
    100% {
        opacity: 0;
    }
}