.formula__second-y {
    position: absolute;
    top: 107px;
    left: 188px;
    background-image: url('../../../images/y.svg');
    width: 22px;
    height: 30px;
    background-repeat: no-repeat;
    display: none;
}