.formula__second-x {
    position: absolute;
    top: 39px;
    left: 148px;
    background-image: url('../../../images/x.svg');
    width: 22px;
    height: 21px;
    background-repeat: no-repeat;
}

.formula__second-x_show {
    animation: showSecondX 1s linear forwards;
}

@keyframes showSecondX {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-65px, 68px);
    }
}

.formula__second-x_show-reverse {
    animation: showSecondX-reverse 1s linear forwards;
}

@keyframes showSecondX-reverse {
    0% {
        opacity: 1;
        top: 107px;
        left: 83px;
    }
    100% {
        opacity: 0;
    }
}