.formula__arrow-ay {
    position: absolute;
    top: -30px;
    left: 30px;
    background-image: url('../../../images/arrow_ay.svg');
    width: 208px;
    height: 48px;
    background-repeat: no-repeat;
}
