.formula__second-points {
    position: absolute;
    left: 270px;
    top: 129px;
    background-image: url('../../../images/points.svg');
    width: 33px;
    height: 4px;
    background-repeat: no-repeat;
    display: none;
}

.formula__second-points_show {
    display: block;
    animation: showPoints 1s linear forwards;
}

@keyframes showPoints {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}