.formula__third-x {
    position: absolute;
    top: 39px;
    left: 148px;
    background-image: url('../../../images/x.svg');
    width: 22px;
    height: 21px;
    background-repeat: no-repeat;
    display: none;
}

.formula__third-x_show {
    display: block;
    animation: showThirdX 1s linear forwards;
}

@keyframes showThirdX {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(138px, 68px);
    }
}
