.formula__third-x {
    position: absolute;
    top: 39px;
    left: 148px;
    background-image: url('../../../images/x.svg');
    width: 22px;
    height: 21px;
    background-repeat: no-repeat;
}

.formula__third-x_show {
    animation: showThirdX 1s linear forwards;
}

@keyframes showThirdX {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(138px, 68px);
    }
}

.formula__third-x_show-reverse {
    animation: showThirdX-reverse 1s linear forwards;
}

@keyframes showThirdX-reverse {
    0% {
        opacity: 1;
        top: 107px;
        left: 286px;
    }
    100% {
        opacity: 0;
    }
}