.formula__xy-open-bracket {
    position: absolute;
    top: 25px;
    left: 133px;
    background-image: url('../../../images/open-bracket.svg');
    width: 11px;
    height: 45px;
    background-repeat: no-repeat;
}