.formula__xy-plus {
    position: absolute;
    top: 32px;
    left: 185px;
    background-image: url('../../../images/plus.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}