.formula__ab-plus {
    position: absolute;
    top: 32px;
    left: 50px;
    background-image: url('../../../images/plus.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}