.content__text {
    margin: 35px 0 0 40px;
    width: 692px;
    height: 43px;
    font-family: YS Text, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}