.formula__third-points {
    position: absolute;
    left: 368px;
    top: 129px;
    background-image: url('../../../images/points.svg');
    width: 33px;
    height: 4px;
    background-repeat: no-repeat;
    display: none;
}