.formula__second-a {
    position: absolute;
    background-image: url('../../../images/a.svg');
    top: 39px;
    left: 15px;
    width: 22px;
    height: 21px;
    background-repeat: no-repeat;
}

.formula__second-a_show {
    animation: showSecondA 1s linear forwards;
}

@keyframes showSecondA {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(44px, 68px);
    }
}

.formula__second-a_show-reverse {
    animation: showSecondA-reverse 1s linear forwards;
}

@keyframes showSecondA-reverse {
    0% {
        opacity: 1;
        top: 107px;
        left: 59px;
    }
    100% {
        opacity: 0;
    }
}