.formula__third-plus {
    position: absolute;
    top: 100px;
    left: 323px;
    background-image: url('../../../images/plus.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    display: none;
}

.formula__third-plus_show {
    display: block;
    animation: showPlus 1s linear forwards;
}

@keyframes showPlus {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}